body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f0e5; // Your preferred background color
    color: #342822;
}

.order-page {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.list {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    
    &:hover {
        transform: translateY(-5px);
    }
}

.product-image img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin: 10px;
}

.product-details {
    flex: 1;
    padding: 10px 20px;

    h3 {
        margin: 5px 0;
    }

    .product-name {
        font-size: 18px;
        font-weight: bold;
    }

    .product-size,
    .product-price,
    .product-count {
        font-size: 16px;
        color: #5f799e;
    }
}

.summary {
    text-align: right;

    .total-price,
    .order-status {
        font-size: 18px;
        margin: 10px 0;
    }
}

.update-status-form {
    display: flex;
    justify-content: flex-end;

    .btn {
        background-color: #5f799e;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: #342822;
        }
    }
}

.success-message,
.error-message {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;

    &.success-message {
        background-color: #d4edda;
        color: #155724;
    }

    &.error-message {
        background-color: #f8d7da;
        color: #721c24;
    }
}
.info{
    text-align: center;
}
form{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    button[name = 'sent'],button[name = 'delivered']{
        height: 40px;
        width: 100px;
        background-color: #5f799e;
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s, transform 0.2s;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
      
        &:hover {
          background-color: #342822;
          transform: scale(1.05);
        }
    }
}
a{
position: relative;
display: flex;
justify-content: center;
margin-top: 10px;
}
