*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f7f0eb;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    .alert {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        h4 {
            color: #ff4d4d; // Red for alert messages
        }
    }
    
    .forms-modify {
        height: 40vh;
        width: 100%;
        max-width: 400px; // Limit the width of the form
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #342822; // Dark color for header
            text-align: center;
        }

        input[type="email"],input[type="number"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 2px solid #e0e0e0;
            border-radius: 5px;
            font-size: 16px;
            transition: border-color 0.3s ease;

            &:focus {
                border-color: #3498db; // Highlight border on focus
                outline: none;
                background-color: #fff;
            }
        }

        button {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #3498db; // Blue color for buttons
            color: white;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #2980b9; // Darken color on hover
            }
        }
    }
    .status{
        color: rgb(30, 18, 18);
    }
}
